<?xml version="1.0" encoding="utf-8"?><QuickBloxConectionSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ApplicationId>9449</ApplicationId><AuthenticationKey>UKLCKEX7nW8t88u</AuthenticationKey><AuthenticationSecret>H6ba4W65ZunPhgd</AuthenticationSecret><Endpoint>https://api.quickblox.com/</Endpoint></QuickBloxConectionSettings>